<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <!--<providers>
      <provider invariantName="VfpEntityFrameworkProvider2" type="VfpEntityFrameworkProvider.VfpProviderServices, VfpEntityFrameworkProvider" />
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>-->
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <!--<provider invariantName="VfpEntityFrameworkProvider2" type="VfpEntityFrameworkProvider.VfpProviderServices, VfpEntityFrameworkProvider" />-->
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="HREntities" connectionString="data source=10.105.2.252;initial catalog=VietnamRedant;user id=liembt;Password=Ong@Gia!2017;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="SataHRMEntities" connectionString="data source=10.105.2.252;initial catalog=SataHRM;user id=liembt;Password=Ong@Gia!2017;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="CCSKEntities" connectionString="Data Source=118.69.198.212;Initial Catalog=ERMS;User ID=btliem;Password=Chungthu@16;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <!--<add name="ERMSEntities" connectionString="metadata=res://*/Model.CCSK.CCSK.csdl|res://*/Model.CCSK.CCSK.ssdl|res://*/Model.CCSK.CCSK.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=118.69.198.212;initial catalog=ERMS;user id=btliem;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="ERMSEntities1" connectionString="metadata=res://*/Model.ERMS.csdl|res://*/Model.ERMS.ssdl|res://*/Model.ERMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=118.69.198.212;initial catalog=ERMS;user id=btliem;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="ERMSEntities1" connectionString="Data Source=118.69.198.212;Initial Catalog=ERMS;User ID=btliem;Password=Chungthu@16;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />  
    <!--<add name="SalaryEntities" connectionString="Data Source=LIEMBT\SQLEXPRESS;Initial Catalog=Salary;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.EntityClient" />-->
    <add name="SalaryEntities" connectionString="Data Source=LIEMBT\SQLEXPRESS;Initial Catalog=Salary;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>